@import "navigation.css";

* {
    box-sizing: border-box;
    color: #FFFFFF;
}

body {
    background-color: #121212;
}

input[type="number"] {
    background-color: rgba(255, 255, 255, 0.16);
    border: none;
    border-radius: 0.25em;
    padding: 0.5em;
    width: 90%;
}

.container {
    background-color: rgba(255, 255, 255, 0.11);
    border-radius: 0.25em;
    margin: 1em;
    padding: 1.5em;
    width: 90%;
}

input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

button {
    background-color: #03DAC6;
    border: none;
    border-radius: 0.25em;
    color: #000000;
    padding: 0.5em 1em 0.5em 1em;
}

button:hover {
    filter: brightness(75%);
}