#main-navigation {
    background-color: rgba(255, 255, 255, 0.11);
    background-size: auto;
    height: 2.5em;
    padding: 0.5em;
    margin-bottom: 2em;
}

#main-navigation a {
    color: #FFFFFF;
    display: block;
    float: left;
    padding-right: 0.75em;
    text-align: center;
    text-decoration-line: none;
}

#main-navigation a:hover {
    color: #03DAC6;
}

#main-navigation a.active {
    color: #03DAC6;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    #main-navigation {
        height: auto;
    }

    #main-navigation a {
        float: none;
        padding-right: 0;
        width: 100%;
    }
}