<div xmlns:th="http://www.thymeleaf.org" id="navigation-bar">
    <a th:href="@{/}" th:classappend="${#request.requestURI == '/' ? 'active':''}">Home</a>
    <a th:href="@{/prime}" th:classappend="${#request.requestURI == '/prime' ? 'active':''}">Prime</a>
    <a th:href="@{/factors}" th:classappend="${#request.requestURI == '/factors' ? 'active':''}">Factors</a>
    <a th:href="@{/divisors}" th:classappend="${#request.requestURI == '/divisors' ? 'active':''}">Divisors</a>
    <a th:href="@{/imprint}" th:classappend="${#request.requestURI == '/imprint' ? 'active':''}">Impressum</a>
</div>